@media screen and (width> 400px) {
    .card {
        width: 315px;
    }
}

@media screen and (width > 800px) {

    .card {
        width: 95vw;
    }

    .info {
        grid-template-columns: 33% 33% 33%;
    }

    .sedan {
        border-bottom-left-radius: 12px;
        border-top-right-radius: 0;
    }

    .luxury {
        border-top-right-radius: 12px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 12px;
    }

    .show {
        margin-bottom: 60px;
    }
}


@media screen and (width> 970px) {
    .card {
        width: 934px;
    }
}